:root {
  --c-orange: #ff6000;
  --c-dark: #212529;
  --c-white: #ffffff;
  --c-one: #c3313a;
  --c-two: #791b40;
  --c-three: #008000;
  --c-four: #479f9c;
  --f-principal: 'Roboto';
}

$xxlarge: 1400px;
