.menu {
  color: var(--c-white);
  transition: color .3s ease-in;

  &__input {
    position: absolute;
    right: 25px;
    top: 15px;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;

    @media screen and (min-width: $large) {
      display: none;
    }
  }

  & input:checked ~ nav {
    display: block;
  }

  & input:checked ~ .fa-bars {
    display: none;
  }

  & input:not(:checked) ~ .fa-times {
    display: none;
  }

  & nav {
    display: none;

    @media screen and (min-width: $large) {
      display: block;
      margin-right: 50px;
    }
  }

  &:hover {
    color: var(--c-two);
  }
}

.fas {
  position: absolute;
  top: 20%;
  right: 5%;
  align-self: center;
  font-size: 2rem;
  pointer-events: none;

  @media screen and (min-width: $large) {
    display: none;
  }
}
