.nav {
  display: block;
  background: var(--c-dark);
  transform: translateY(83px);
  width: 200px;

  &__list {
    margin: 0;
    padding: 0;
    text-align: center;

    @media screen and (min-width: $large) {
      display: flex;
      justify-content: space-around;
    }
  }

  &__item {
    list-style: none;
    padding: 5px;
    transition: all 0.2s ease-in;

    &:hover {
      background: var(--c-two);

      @media screen and (min-width: $large) {
        background: inherit;
      }
    }

    @media screen and (min-width: $large) {
      padding: 25px 30px;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--c-white);
    transition: all 0.2s ease-in;

    &:hover {
        color: var(--c-two);
        font-weight: 600;
    }
  }

  @media screen and (min-width: $large) {
    transform: initial;
    width: inherit;
  }
}

.submenu {
  position: absolute;
  display: none;
  width: 200px;
  transform: translate(-205px, -23px);
  background: var(--c-dark);
  padding: 0;

  &__item {
    list-style: none;
    padding: 5px;
    transition: all 0.3s ease-in;

    &:hover {
      background: var(--c-two);
    }
  }

  &__link {
    text-decoration: none;
    text-align: center;
    color: var(--c-white);
  }

  @media screen and (min-width: $large) {
    transform: translate(-60px, 25px);
  }
}

.nav__item:hover .submenu {
  display: block;
}
